body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

#app {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056d3;
}

#task-list {
  margin-top: 20px;

}

/* js에서 동적으로 생성될 각 할일 요소 .task-item */
.task-item{
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item button {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.task-item button:hover {
  background-color: darkred;
}

/* modal 스타일 지정 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f2f2f2;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 400px;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#task-input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}